.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    top: 1px;
    position: relative;
}

.btn-outline {
    color: var(--black);
    padding: 12px 20px;
    border: 2px solid var(--purple);
    border-radius: 5px;
    height: 48px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: opacity 0.2 ease-in;
    background-color: var(--white);

}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    top: 1px;
    position: relative;
}
