.nav {
    padding: 20px 0px;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    text-align: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    row-gap: 10px;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: '';
    top: 100%;
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--accent);
    height: 2px;
    left: 0px;
}