:root {
    --black: #171718;
    --white: white;
    --black-border: #26292d;
    --purple: #5a005a;
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
    --title-1: var(--accent)
    --page-bg: var(--white);
    --text-color: var(--black);
    --title-1: var(--accent);
    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    --border: var(--white)
}

.dark {
    --page-bg: #252526;
    --text-color: var(--white);
    --title-1: var(--white);
    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}